

section{
    min-height: calc(100vh - 65.69px);
    padding-bottom: 50px;
    padding-top: 100px;
    
} 
.radlist {
   display: flex;
   justify-content: start;
    height: 450px;
    margin: 2%;
    border: 1px solid black;

    
}
svg{
    padding: 1px;
}
#ull{
    padding-left: 40px;
}
.img{
    border-right: 1px solid black;
    width: 1050px;
}
.img img{

    height: 350px;
    width: 500px;
   
    margin-top: 7%;
}
.carousel-item{
    padding-left: 100px;
    width: 600px;
    height: 500px;
    z-index: -1;
}
.form{
    
    padding: 40px;
    width: 500px;
    
    
}
.flex-input{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
input[type="submit"]{
    margin-left: 30%;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid #5cb85c;
}
input[type="date"]{
    width:210px;
    height: 30px;
}
input[type="number"]{
    width:160px;
    height: 30px;
}
input[type="text"]{
    width:160px;
    height: 30px;
}
input[type="submit"]:hover{
    background-color: #5cb85c;
}
label{
    flex-basis: 130px;
}

#radimg{
    height: 350px;
    width: 350px;
    margin: 2% 4% 0 4%;
}
.cur{
    font-family: cursive;
    font-size: 15px;
}
#raddes{
    margin: 1% 4% 2% 4%;
}
body{
    font-size: 12px;
}