


#cityin{
    background-image:url(../assests/images/india.jpg);
    height: 380px;
                width: 100%;
                justify-content: center;
                align-items: center;
               background-size: 100% 100%;
                background-position: -webkit-center;
                background-repeat: no-repeat;
}

#cityin input[type=text]:focus{
    outline: transparent;
    position: relative;
    
}
 #cityinput{
            
    border-color: transparent;
    border-radius: 12px;
    width: 35%;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 16px;
    margin: 190px 35%;

}
#city_container{
    width: 100%;
    justify-content: center;
    height: 380px;
    align-items: center;
    
}
#indeximg{
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 25%;
    box-shadow: 10px 10px 5px gray;
    
    
}
section{
    width: 100%;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
    

    }
     #images1{

    display: none;

    }
    
    .imgs{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
    }
    
.img1{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 2% 4%;
}
.hover1 a{
    position: absolute;
    text-decoration: none;
  top: 0;
  left: 0;
    
   height: 150px;
   width: 150px;
   color: white;
   border-radius: 25%;
   background-color:rgba(0, 0,0,0.6);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   
}
.hover1 a:hover{
    opacity: 1;
   
}
.hover2{
    position: absolute;
    
   top: 0;
   left: 0;
   height: 150px;
   width: 150px;
   color: white;
   text-decoration: none;
   border-radius: 25%;
   background-color:rgba(0, 0,0,0.6);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
}

.hover2:hover{
    opacity: 1;
   
}
#viewmore{
    
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
