
section{
    min-height: calc(100vh - 65.69px);
    padding-bottom: 40%;
    padding-top: 100px;
    
} 


#sect{
    height: 100px;
    justify-content: center;
}
svg{
    padding: 1px;
}

.liview{
    display: flex;
    justify-content: center;
}


.listview{
    
    display: flex;
    justify-content:start;
    width: 400px;
    margin: 3%;
    margin-left: 12%;
    
    background-color: lightgray;
    
}


.listde{
    width: 200px;
    padding: 3%;
}
.listde:hover{
    background-color: rosybrown;
}
.listde p{
    margin: 1%;
}
.listview a{
   
    text-decoration: none;
    color: black;

}
.listview span{
    text-decoration: none;
    color: black;
}
.title{
    font-weight: bold;
}
#allinone{
    display: block;
}
#all{
    display: flex;
    flex-wrap: wrap;
    
}
div a:hover{
    text-decoration: none;
}
#listimg1{
    height: 200px;
    width: 200px;
    
}
#listimg2{
    height: 200px;
    width: 200px;
}
#listimg3{
    height: 200px;
    width: 200px;
}

#mapview{
    display: none;
}



.liview .btn:focus{
    background-color:#0275d8;
}


 

