*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
                
    background-color: #e0e0e0;
    font-family: sans-serif;
    min-height: 100%;
    min-height: 100vh;    
    
    z-index: -30;
}


.btn-light{
    margin-left: 94%;
    margin-top: 1.5%; 
    z-index: 10;
    position: fixed;
 }
.btn-primary{
   
    margin: 2%;
 }
label{
    padding-top: 2%;
 }
.modal-footer{
    justify-content: center;
    padding: 2%;
    height: 80px;
 }

input[type="text"]{
width:300px;
}
.form-group{
display: flex;
justify-content: space-around;
}
#modal-id{
margin-top: 10%;
}


.navbar {
    overflow: hidden;
    background-color: rosybrown;
    position: fixed;
    top: 0;
    width: 100%;
    height: 11vh;
}
 header #indexlogo{
    position: fixed;
    height: 60px;
    width: 60px;
    margin: 1%;
   z-index: 10;
   margin-top: 0.5%;
    
}

section{
    min-height: calc(100vh - 65.69px);
    padding-bottom: 40%;
    padding-top: 100px;
    
} 


#sect{
    height: 100px;
    justify-content: center;
}
svg{
    padding: 1px;
}

.liview{
    display: flex;
    justify-content: center;
}


.listview{
    
    display: flex;
    justify-content:start;
    width: 400px;
    margin: 3%;
    margin-left: 12%;
    
    background-color: lightgray;
    
}


.listde{
    width: 200px;
    padding: 3%;
}
.listde:hover{
    background-color: rosybrown;
}
.listde p{
    margin: 1%;
}
.listview a{
   
    text-decoration: none;
    color: black;

}
.listview span{
    text-decoration: none;
    color: black;
}
.title{
    font-weight: bold;
}
#all{
    display: flex;
    flex-wrap: wrap;
    
}
div a:hover{
    text-decoration: none;
}
#listimg1{
    height: 200px;
    width: 200px;
    
}
#listimg2{
    height: 200px;
    width: 200px;
}
#listimg3{
    height: 200px;
    width: 200px;
}
#lv .btn:focus{
    display: div;
}
#mapview{
    display: none;
}
#mv .btn:focus{
    display: class;
}

.liview .btn:focus{
    background-color:#0275d8;
}

.btn-info{
    margin-left: 2%;
    
    
    margin-top: 470px;
    z-index: 10;
    position: fixed;
    
 }
 
.form{
   display: flex;
}
footer{
    
    position: fixed;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: rosybrown;
   
    
}
 #foot{
    display: flex;
    margin: 1.5% 2%;
    justify-content: space-between;
    z-index: 10;
    
    width: 97.5%;
} 

#con{
    z-index: 10;
    
    
    
}
 #con a{
     text-decoration: none;
     color: black;
     z-index: 10;
     
}
 #med{
    order: 3;
    
    z-index: 10;
}
 #copy {
    font-size: 10px;
   z-index: 10;
}

